{% extends 'base/base.html' %}
{% block content %}
<div class="col-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h3> Create Employee</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Designation</th>
                            <th><span class="badge badge-success">Action</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <form onsubmit="return validate() " action="" method="POST">
                                {% csrf_token %}
                                {% for  field in forms  %}
                                <td>
                                    {{field}}
                                </td>
                                {% endfor %}
                                <td>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    function validate() {
        var username = document.getElementById('username');
        var password = document.getElementById('password');
        var name = document.getElementById('name');
        var mobile = document.getElementById('mobile');
        var destination = document.getElementById('destination');
        if (username.value.trim() == "" || password.value.trim() == "" || name.value.trim() == "" ||
            mobile.value.trim() == "" || destination.value.trim() == "") {
            return false;
        } else {
            return true;
        }
    }
</script>
{% endblock  %}